.navbar .correct {
  animation: 0.4s correct;
}

.navbar .incorrect {
  animation: 0.4s incorrect;
}

@keyframes correct {
  0% {
    color: white;
  }

  50% {
    color: rgb(21, 64, 139);
  }

  100% {
    color: white;
  }
}

@keyframes incorrect {
  0% {
    color: white;
  }

  50% {
    color: rgb(202, 6, 41);
  }

  100% {
    color: white;
  }
}
